---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/enterprise/Hero.astro';
import Benefits from '../components/enterprise/Benefits.astro';
import Services from '../components/enterprise/Services.astro';
import ProductSliderIsland from '../components/enterprise/ProductSliderIsland.astro';
import QuoteFormIsland from '../components/enterprise/QuoteFormIsland.astro';
import Partners from '../components/enterprise/Partners.astro';
---

<Layout title="Giải pháp điện mặt trời cho doanh nghiệp - SOLAR24H">
  <main>
    <Hero />
    <Benefits />
    <Services />
    <ProductSliderIsland />
    <QuoteFormIsland />
    <Partners />
  </main>
</Layout>
