---
import Layout from '../layouts/Layout.astro';
import BuyerInfoFormIsland from '../components/checkout/BuyerInfoFormIsland.astro';
import ShippingInfoFormIsland from '../components/checkout/ShippingInfoFormIsland.astro';
import PaymentMethodFormIsland from '../components/checkout/PaymentMethodFormIsland.astro';
import PlaceOrderButtonIsland from '../components/checkout/PlaceOrderButtonIsland.astro';
---

<Layout title="Mua ngay | G3 - Solar">
  <div class="min-h-screen bg-gray-50">
    <div class="max-w-6xl mx-auto px-4 py-6">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        {/* Left column - Forms */}
        <div class="lg:col-span-2 space-y-6">
          <BuyerInfoFormIsland />
          <ShippingInfoFormIsland />
          <PaymentMethodFormIsland />
        </div>
        {/* Right column - Order summary */}
        <div class="lg:col-span-1">
          <PlaceOrderButtonIsland />
        </div>
      </div>
    </div>
  </div>
</Layout> 